:root{
    /* Project Colors */
    --green: #49cfad;
    --maingrey: #434a54;
    --dark: #23282d;
    --lighty: #e7e9ed;
    --darky: #656d78;
    --purple: #ac92ec;
    --secondarygreen: #a0d468;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* Header styles */
header{
    width: 100vw;
    height: 9vh;
    background-color: var(--green);
}
header nav ul{
    height: 9vh;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    place-items: center;
    margin-right: 50px;
}
header nav ul li a{
    text-decoration: none;
    display: block;
    margin: 0px;
    margin-left: 15px;
}
header nav ul li a span{
    width: 100px;
    height: 100px;
    color: white;
    text-decoration: none;
}
/* main section styles */
main{
    width: 100vw;
}
/* parte estilo header */
main .main-links{
    width: 100vw;
    height: 22vh;
    display: flex;
    justify-content: space-between;
    place-items: center;
}
main .main-links .main-logo{
    height: 130px;
    margin-left: 30px;
}
main .main-links .main-link-about{
    display: block;
    height: auto;
    margin-right: 80px;
    color: black;
    font-size: 2.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 2px;
    border-bottom: black 2px solid;
}
/* sectionStarredpost */
main .main-starred-post{
    width: 100vw;
    height: 65vh;
    background-color: var(--lighty);
}
main .main-starred-post h3{
    width: 100%;
    height: 60px;
    font-size: 3rem;
    padding-top: 15px;
    padding-left: 80px;
}
main .main-starred-post .content-new{
    margin: 0 auto;
    width: 90%;
    height: 50vh;
    display: grid;
    grid-template-columns: 800px 450px;
    grid-template-rows: 480px;
    gap: 50px;
    overflow: hidden;
}
main .main-starred-post .content-new .image-container{
    width: 800px;
    height: 480px;
    overflow: hidden;
}
main .main-starred-post .content-new .image-container img{
    width: 100%;
}
main .main-starred-post .content-new .content-new-text{
    display: flex;
    flex-direction: column;
    height: 480px;
}
main .main-starred-post .content-new .content-new-text h2{
    font-size: 6rem;
    font-family: 'Roboto Mono', monospace;
    margin-top: 30px;
}
main .main-starred-post .content-new .content-new-text p{
    font-size: 1.9rem;
    margin: 30px 0px;
}

/* Section Projects */
main .main-articles{
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .main-articles .articles-header{
    font-family: 'Roboto', sans-serif;
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}
main .main-articles .divisor{
    width: 90vw;
    height: 1px;
    background-color: #d7dce2;
    border: solid 1px #edf1f2;
    margin: 35px;
}
main .main-articles .article-grid{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,28vw);
    gap: 45px;
}
main .main-articles .article-grid .article{
    display: flex;
    flex-direction: column;
}
main .main-articles .article-grid .image-container{
    width: 100%;
    margin-bottom: 20px;
}
main .main-articles .article-grid .image-container img{
    width: 100%;
}
main .main-articles .article-grid .article h2{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 2.6rem;
    margin-bottom:  10px;
}
main .main-articles .article-grid .article p{
    font-family: 'Roboto', monospace;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: justify;
    margin: 15px 0px;
}
.buttonlink{
    width: 150px;
    height: 50px;
    border:var(--green) solid 2px;
    padding-top: 12px;
    padding-left: 15px;
    font-size: 1.8rem;
    color: var(--dark);
    text-decoration: none;
}
/* styles contact section */
main .main-contact{
    width: 100vw;
    height: 35vh;
    background-color: var(--lighty);
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    place-content: center;
    justify-content: center;
    gap: 100px;
}
main .main-contact .main-contact-item{
    height: 175px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
main .main-contact .main-contact-item img{
    height: 100%;
}
main .main-contact .main-contact-item h3{
    font-weight: 100;
    font-size: 3rem;
    margin-left: 20px;
    margin-top: 30px;
    border-bottom: black solid 2px;
    width: fit-content;
}
main .main-contact .main-contact-item p{
    width: calc(35vw - 200px);
    font-weight: 100;
    font-size: 1.8rem;
    padding-left: 20px;
    margin: 15px 0px;
}
.greeeen{
    width: 100vw;
    height: 5vh;
    background-color: var(--green);
}
/* footer styles */
footer{
    width: 100vw;
    height: 9vh;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 1.8rem;
    color: white;
    letter-spacing: 2px;
}